.timeline {
    border-left: 3px solid #e9ecef;
    padding-left: 1.25rem;
}

.timeline-item {
    position: relative;
    padding-left: 1rem;
}

.timeline-item::before {
    content: "";
    position: absolute;
    left: -9px;
    top: 8px;
    width: 14px;
    height: 14px;
    background: white;
    border: 3px solid #0d6efd;
    border-radius: 50%;
}

.link {
    text-decoration: none;
    color: orange;
}

.link:hover {
    color:chocolate;
}

.text-exp {
    margin-left: 30px;
    font-weight: bold;
    font-size: 20px;
}