.main-home {
    padding: 200px;
    background-position-y: 55%;
    background-position-x: 44%;
    background-size: 350% 350%;
    border-radius: 20px;
}

.des {
    width: 370px;
    font-size: 22px;
}